body {
/* padding: 20px 0;*/
}

.container3 {
  position: absolute;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
/*  right: 9.5%; */
  right: 0%;
  top: 3.5%;
}

.canvas {
  position: absolute;
  z-index: 1;
  top: 31%;
  left: 51%;
/* right: 20%;*/
}

.form {
/*  padding: 20px;*/
}

.empty {
  position: relative;
  margin: 0 auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  padding-left: 25%;
}
